aiohttp
asyncio
bleach==5.0.0
numpy
img2pdf
ffmpeg-python==0.2.0
redis
Python_ARQ
motor
multicolorcaptcha
ptbcontrib @ git+https://github.com/python-telegram-bot/ptbcontrib.git@907070d129b7cf80b0236d72fb498667b5b22b63
Pillow
psutil
psycopg2-binary
telegraph==2.1.0
Telethon==1.24.0
wget
nekos.py==1.1.0
pyyaml
python-arq
pykeyboard==0.1.5
pymongo==4.1.1
pyparsing==3.0.9
pyrate-limiter==2.8.1
pretty_errors
future==0.18.2
fuzzysearch==0.7.3
fake-useragent==0.1.11
beautifulsoup4==4.11.1
better-profanity==0.7.0
aiofiles==0.8.0
search-engine-parser
SQLAlchemy==1.4.36
opencv-python-headless==4.5.5.64
jikanpy==4.3.2
emoji==1.7.0
markdown2==2.4.3
wikipedia==1.4.0
alphabet-detector==0.0.7
pymongo[srv]
envparse==0.2.0
cloudscraper==1.2.60
gpytranslate==1.4.0
hachoir==3.1.3
secureme
gTTS
pyrogram==1.4.16
ujson
regex
bs4
CurrencyConverter
google_images_download
google-api-python-client
googletrans
heroku3
spamwatch
